#!/usr/bin/env bash

# `nix flake show`などの動作のため必要な設定。
# 環境変数が被った場合は想定していない。
export NIX_CONFIG="allow-import-from-derivation = true"

# 開発時に使う共有されている環境変数群を読み込む。
dotenv_if_exists .env.deve

# 存在していればローカルなカスタムを先に優先して読み込んで、ハックしやすいようにする。
dotenv_if_exists .env.local

# Nix Flakesのロード。
use flake . --accept-flake-config
