# コミットごとにチェックを行う。
name: check

on: push

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - uses: cachix/cachix-action@v16
        with:
          name: u-blacklist-rule
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix flake check
